/**
 * Lightbox
 * ========
 * Styling for the SilverStripe Lightbox module. Using ITCSS architecture and BEM naming convention.
 */
.ltbox__container:after {
		clear: both;
		content: "";
		display: table;
}

.ltbox__btn {
		background: #01755a;
		color: #fff;
		display: inline-block;
		padding: .5em;
}

/**
 * Object - Lightbox
 * =================
 *
 * Structural styling for lightbox. Theme styling is appled in _components.lightbox.scss
 */
/* Structural styling */
.ltbox {
		background: #4a4a4a;
		background: rgba(0, 0, 0, 0.8);
		height: 100%;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 1000;
}

.ltbox__container {
		background: #fff;
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		min-width: 30%;
		position: relative;
		text-align: left;
		vertical-align: middle;
}

.ltbox__container:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -.25em;
}

.ltbox__content1 {
		background: #f6f6f7;
		clear: both;
}

/**
 * Component - Lightbox
 * ====================
 * Theme styling for Lightbox
 */
