/**
 * Object - Lightbox
 * =================
 *
 * Structural styling for lightbox. Theme styling is appled in _components.lightbox.scss
 */

// Re-usable placeholders

%ltboxBox {
	padding: 1em;
}

%ltboxContentBoxSmall {
	@extend %ltboxContentBox;
	@include breakpoint($screen_xs, 0, oldie) {
		float: left;
		width: 50%;
	}
}


/* Structural styling */

.ltbox {
	background: $black;
	background: rgba(0, 0, 0, .8);
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: $zindex_lightbox;
}

	// Lightbox content - container for all content boxes
	.ltbox__container {
		@extend %clearfix;
		background: $white;
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		min-width: 30%;
		position: relative;
		text-align: left;
		vertical-align: middle;

		// Inline-block element to force lightbox content to be middle vertically aligned
		&:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -.25em;
		}
	}

	// Lightbox button
	.ltbox__btn {
		@extend %btn;
	}

	// Lightbox Content type box, contains 1 big box and 2 smaller optional boxes in the bottom
	.ltbox__content {

		// Large content box
		&1 {
			@extend %lightboxBox;
			background: $bg_grey;
			clear: both;
		}

		// Lightbox content boxes 2 and 3 - small optional bottom content boxes
		&2 {
			@extend %lightboxContentBoxSmall;
		}

		&3 {
			@extend %lightboxContentBoxSmall;
		}
	}