// Variables
// =========

// Browser context

$browser-context: 16px !default;


// Breakpoints

$screen-xs: em(480)  !default;
$screen-sm: em(768)  !default;
$screen-md: em(960)  !default;
$screen-lg: em(1200) !default;

$screen-xs-max: em(768 - 1)  !default;
$screen-sm-max: em(960 - 1)  !default;
$screen-md-max: em(1200 - 1) !default;


// Colors

$black: #4a4a4a !default;
$white: #fff    !default;

$primary: #01755a !default;
$bg-grey: #f6f6f7 !default;


// Z Index

$zindex-lightbox: 1000 !default;